.auth-layout-container {
    display: flex;
    min-width: 100%;
    min-height: 100vh;
}

.auth-content {
    width: 30%;
    height: 100vh;
    flex: 0 0 30%;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 70%;
    flex: 0 0 70%;
    height: 100vh;
    background-image: url('/assets/background/1.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .auth-layout {
        flex-direction: column;
    }

    .auth-content,
    .content {
        width: 100%;
        flex: 0 0 100%;
    }
}