<div class="main-layout">
    <header class="topbar">
        <div class="left">
            <span class="brand">
                <a href="/landing"><img class="logo" src="logo.png" alt="logo" /></a>
            </span>
        </div>

        <div class="right">
            <img [src]="profileImage" alt="Profile Avatar" class="avatar-menu" (click)="toggleDropdown()" />
                <div *ngIf="isDropdownvisible" class="dropdown">
                    <div (click)="viewProfile(); $event.preventDefault();">Profile</div>
                    <div (click)="logout(); $event.preventDefault();">Logout</div>
                </div>
        </div>
    </header>
    <router-outlet></router-outlet>
</div>