<div class="container">
    <h1>Call Videos</h1>
    <div class="main-content">
        <div class="toolbar">
            <div class="filters">
            </div>

            <div><button class="btn-submit" (click)="openCreateModal()"> <i class="fas fa-plus"></i>Add New
                    Video</button>
            </div>
        </div>

        <div class="board">
        </div>

        <app-modal [title]="'New Call Video'" [size]="'md'" [confirmText]="'Create'" [cancelText]="'Cancel'"
            [isVisible]="isCreateNewVideoModalVisible" (confirm)="saveNewVideo()" (closeModal)="closeNewVideoModal()">
            <div class="form-group">
                <label>Video</label>
                <!-- Video Section -->
                <div class="video-upload-section">
                    <div class="video-preview" [class.has-error]="videoError" (click)="triggerFileInput()">
                        <video [src]="callVideo" class="profile-image" controls></video>
                        <div *ngIf="isUploading" class="video-loading">
                            <i class="fas fa-spinner"></i>
                        </div>
                    </div>

                    <input #fileInput type="file" accept="image/*" (change)="onFileChange($event)" hidden />

                    <div *ngIf="videoError" class="error-message">
                        {{ videoError }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
            </div>
            <div class="form-group">
                <label>Priority</label>
            </div>
            <div class="form-group">
                <label>Assignee</label>
            </div>
            <div class="form-group">
                <label>Due Date</label>
            </div>
        </app-modal>
    </div>
</div>