.main-content {
    margin: 30px 0;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.chat-container {
    display: flex;
    padding: 12px 16px;
    min-height: 73vh;
}


.chat-users-container {
    width: 350px;
    border: 1px solid #e5e7eb;
    padding: 12px 20px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    max-height: calc(73vh - 24px);
    overflow-y: auto;
}

.chat-header {
    display: flex;
    text-align: center;
    align-items: center;
}

.chat-user-item {
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 1rem;
}

.avatar {
    border: solid 1px #e5e7eb;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.chat-history {
    flex: 1;
    border: 1px solid #e5e7eb;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: calc(74vh - 24px);
    overflow: auto;
    background: #fff;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    margin-left: 12px;
    overflow-y: auto;
}

.chat-messages {
    flex: 1;
    border: 1px solid #e5e7eb;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    overflow: auto;
    background: #fff;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    max-height: calc(74vh - 80px);
}

.chat-input {
    height: 100px;
}
